/* HOMEPAGE PICTURES */
#homepage-pictures {
    display: flex;
    flex-direction: row;
}
#homepage-pictures div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#homepage-pictures div:first-child {
    background-image: url('../../images/airsoft_site_bg.png');
}
#homepage-pictures div:last-child {
    background-image: url('../../images/player_bg.png');
}
#homepage-pictures button {
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #3687FF;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid #3687FF;
}
#homepage-pictures div:first-child button {
    background: rgba(255, 255, 255, 0.7);
}
#homepage-pictures div:last-child button {
    background: rgba(60, 60, 60, 0.7);
}
/* Media query */
@media screen and (max-width: 900px) {
    #homepage-pictures {
        display: block;
    }
    #homepage-pictures div {
        width: 100%;
    }
}

/*SECOND SECTION -- COM / MEMBER AREA CONTAINER*/
#second-section {
    display: flex;
    flex-direction: row;
}
#second-section>div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#second-section #communication-container {
    background-color: #193438;
    height: 100%;
}
#second-section #communication-container>div {
    display: flex;
    padding: 0.5rem;
}
#second-section #communication-container>div>div:first-child {
    flex-grow: 1;
    width: auto;
    max-width: 500px;
}
#second-section #communication-container .article-container {
    background-color: #ffffff;
    padding: 0.8rem;
    margin: 0.6rem 0.5rem;
    text-align: left;
}

#second-section #communication-container .article-container h2{
    font-size: 1.1rem;
    margin: 0;
}
#second-section #communication-container .article-container:first-child {
    margin-top: 0;
}
#second-section #communication-container .article-container img {
    max-height: auto;
    width: 100%;
    height: auto;
}
#second-section #communication-container .article-container>p:last-child {
    margin-bottom: 0;
}
#second-section #communication-container #facebook-container>li {
    list-style-type: none;
}
#second-section #members-area-container {
    background-color: #607E49;
    padding: 0.5rem;
    height: 50%;
}
#second-section #invited-area-container {
    background-color: #214B66;
    padding: 0.5rem;
    height: 50%;
}
/* Media query */
@media screen and (max-width: 1400px) {
    #second-section {
        display: block;
    }
    #second-section>div {
        width: 100%;
        text-align: center;
    }
    #second-section #communication-container .article-container img {
        max-height: none;
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width: 750px) {
    #second-section #communication-container>div {
        display: block;
    }
}

/* THIRD SECTION -- MAP AND RULES */
#homepage-map-rules {
    background-color: #4F4C4A;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
#homepage-map-rules h4 {
    text-align: center;
}
#homepage-map-rules>div {
    width: 50%;
    padding: 0 1rem;
}
#homepage-map-rules #homepage-map-container p {
    margin: 0;
}
#homepage-map-rules #homepage-map-container iframe {
    margin-top: 1rem;
    width: 100%;
    height: 400px;
}
#homepage-map-rules #rules-content {
    background-color: #ffffff;
    color: #000;
    padding: 1rem;
}
#homepage-map-rules #rules-content #continue-btn {
    display: flex;
    justify-content: end;
}
#homepage-map-rules #rules-content #continue-btn a {
    border: 1px solid #3687FF;
    text-decoration: none;
    padding: 0.5rem 2rem;
}
/* Media query */
@media screen and (max-width: 750px) {
    #homepage-map-rules {
        display: block;
    }
    #homepage-map-rules>div {
        width: 100%;
        padding: 0;
    }
}