/* HEADER - 2024 */
header#common-header {
    background-color: rgba(19, 19, 19, 0.82);
    display: flex;
    align-items: center;
}

header#common-header>a>img {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
}

#mega-menu-wrap-max_mega_menu_1 {
    background-color: transparent !important;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link {
    text-transform: uppercase !important;
    background: transparent !important;
    font-size: 1rem !important;
    color: #ffffff !important;
}